body {
    background-color: white;
    margin: 0px;
    height: 100%;
    position: relative;
    font-family: din-2014,sans-serif;
}
h1{
    position: fixed;
    bottom: 0.1em;
    right: 3%;
    
    margin: 0;
    font-weight: 900;
    font-style: italic;
    font-size: 82px;
    z-index: 3;
}
h3{
    position: fixed;
    bottom: 30%;
    right: 3%;
    margin: 0;

    font-weight: 300;
    font-style: normal;
    font-size: 22px;
    writing-mode: vertical-lr;
    z-index: 1;
}
h2{
    font-weight: 400;
    font-style: italic;  
}
h5{
    font-size: 28px;
    font-weight: 900;
    font-style: italic;  
}
a{
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
}



nav{
    height: 100%;
    position: fixed;
    top:1em;
    z-index: 1;
    width: 30%;
    display: flex;
    flex-direction: column;
}
nav div{ 
    padding: 0;
    margin: 0;
    height: 60%; 
    width: auto;
}
nav a {
    width: 100%;
    text-decoration: none;
    position: relative;
}
h4{
    padding-left: 1em;
    margin: 0;
    text-decoration: none;
    color: black;
    font-weight: 300;
    font-style: italic;
    font-size: 18px;
}

#_homeNav{
    background-color: black;
}
#_blueNav{
    background-color: blue;
}
#_redNav{
    background-color: red;
}
#_greenNav{
    background-color: rgb(0,255,0);
}
#_whiteNav{
    background-color: white;
}

#_magentaNav{
    background-color: magenta;
}
#_cyanNav{
    background-color: cyan;
}

section{
    display: block;
    position: relative;
    margin-top: 0m;
    height: 100vh;
    width: 100%;
  }
section a img {
      position: static;
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin: 0;
      padding: 0;
  }

.bars{
    width: 100%;
   display: block;  
  }

/*------------------------------------------------------------------------*/
.under nav{
top: 0;
height: 100%;
position: fixed;
width: 30%;
}
.under div{
    height: 100%;
    margin: 0;
}
._sizeNav{
    width: 50%;
}

.under section{
    width: 100%;
    display: inline-block;  
    margin: 0;
    height: auto; 
}

.under section div{
    margin: 0 7% 11% 36%;
}
.under ._sizeNavIndex{
    width: 50%;
}
.under h4 {
    display: none;
}
.aktive{
    width: 100%;
}
section#_blue ,a{
    color: blue;
    background-color: rgb(175, 245, 175);
}
section#_red, a{
    color: red;
    background-color: rgb(168, 198, 212)
}
section#_green, a{
    color: rgb(0,255,0);
    background-color: rgb(56, 41, 58)
}
section#_white{
    color: white;
    background-color: rgb(28, 31, 32);
}
section#_magenta, a{
    color:magenta;
    background-color: rgb(122, 197, 122)
}
section#_cyan, a{
    color: cyan;
    background-color: rgb(63, 31, 31)
}
#_black{
    display: none;
}
 video{
    width: 100%;
}

     
  
  /* Medium devices (landscape tablets, 481px and up) */
  @media only screen and (min-width: 530px) {
    h1 {
        color: green;
        } 
        nav{
            display: flex;  
            position: relative;   
            top: 2em; 
            flex-direction: row;
            width: 100%;
            max-width: 100%;
            height: 20%;
        }
        nav div {
            height: 100%;
            }
      .bars{
        display: flex;
        width: calc(100%/7); 
      }  
      .big{
        text-align: center;
        width: 100%;
    }
    .big img{
        transform: scaleX(-1);
        object-fit:none;
    }
      h4{ 
        width: 100%;
        font-size: 10px;
    }    
        h1{
            position: absolute;
            top: 2.5em;
            left: 47%;
            font-size: 100px;   
        }
        h3{
            position: absolute;
            top: 40%;
            left: 2%;
            font-size: 22px;

        }      
        section{
              display: flex;
              flex-direction: row;
              margin-top: 1em;
              max-width: 100%;
              top: 3em;
        }
        section a img {
            position: static;
            height: 100%;
            object-fit: cover;
        }
         section a{
             width: 100%;
         }  
        #_homeNav{
            width: auto;
        }
        #_blueNav{
            width: auto;
        }
        #_rednav{
            width: auto;
        }
       #_greenNav{
            width: auto;
        }
        #_whiteNav{
            width: auto;
        }   
        #_magentaNav{
            width: auto;
        }
        #_cyanNav{
            width: auto;
        }
        /*------------------------------------------------------------------------*/
        .under nav{
            display: flex;  
            position: fixed;   
            
            flex-direction: row;
            width: 100%;
            max-width: 100%;
            height: 30%;
        }
        .under h4{
            display: none;
        }
        .under section div{
            padding-top: 20%;
        }
     .under h1{
         font-size: 22px;
         margin: 0;
     }
        #_black{
            display: block;
        }
        .under nav .big{
            display: flex;
            width: 200%;
                    }

       .under #_homeNav{
         width: 100%;
         height: 30%;
        }
        .under ._sizeNav{
            height: 30%;
            width: 100%;
        }
        .under .aktive{
            height: 50%;
        }
    } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    h1 {
        color: blue;
        } 
        h1{
            left: 46%;
            font-size: 176px;
            top: 1.5em;
        }
        h3{
            font-size: 26px;
        }
        h4{
            font-size: 15px;
        }    
    }
         
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {

    h1{
        color: magenta;
        }  
    h1{
            left: 46%;
            font-size: 176px;
                }
}