body {
    background-color: #e77878;
    margin: 0px;
    height: 100%;
    position: relative;
}

.box{
}
#lottie {
 position: absolute;
    display: inline;
    transform: translate3d(0, 0, 0);
    text-align: center;
    opacity: 1 
}
    #lottie2{
 position: absolute;
    display: inline;
    transform: translate3d(0, 0, 0);
    text-align: center;
    opacity: 1 
}        



.st1{fill:none;stroke:#FF0000;stroke-width:3;}
.st2{fill:#FF0000;}
.st3{font-family:'Krungthep';}
.st4{font-size:50.6909px;}
.st5{font-size:84.4849px;}
     
