body {
    background-color: #223aa3;
    margin: 0px;
    height: 100%;
    position: relative;
}
.wrapper{
    width: 100%;
    margin: 0 auto;
}
nav{
    position: relative;
top:1em;
    width: 100%; 
}
nav ul{
    list-style-type: none;
    padding: 0;
    display: block;
    margin: 0;
    display: flex;
}

nav li{
    padding-left: 1em;
    flex: 1 1 0;;
}
nav a {
    padding-bottom: 1em;
    text-decoration: none;
    color: black;
    position: relative;
}
.menu{
  display: flex;
  flex-direction: row;
  width: 100%; 
}


#home{
  
    height: 2em;
    background-color: black;
}
#blue{
    height: 1em;
    background-color: blue;
}
#red{
    height: 1em;
    background-color: red;
}
#green{
    height: 1em;
    background-color: rgb(0,255,0);
}
#white{
    height: 1em;
    background-color: white;
}
#magenta{
  
    height: 1em;
    background-color: magenta;
}
#cyan{
    height: 1em;
    background-color: cyan;
}

section{
  position: relative;
  margin-top: 2em;
    background-color: aqua
}

h1{
    position: absolute;
    left: 50%;
    font-size: 100px;
    margin: 0;
    z-index: 2;
}

#cutoutImg{
    position: absolute;
    top: 3em;
    left: 2em;
    width:20%;
}
#pooyaImg{
    position: absolute;
    top: 20em;
    left: 10em;
    width:20%;
}
#feedbackImg{
    position: absolute;
    top: 4em;
    left: 20em;
    width:20%;
}
#ohrbitImg{
    position: absolute;
    left: 35em;
    top: 8em;
    width:30%;
}
#spacejunkImg{
    position: absolute;
    top: 0em;
    left: 40em;
    width:20%;
}
#simpleImg{
    position: absolute;
    top: 22em;
    left: 40em;
    width:20%;
}
h2{
    position: absolute;
    top: 10em;
    left: 20%;
}


















#lottie {
 position: absolute;
    display: inline;
    transform: translate3d(0, 0, 0);
    text-align: center;
    opacity: 1 
}
    #lottie2{
 position: absolute;
    display: inline;
    transform: translate3d(0, 0, 0);
    text-align: center;
    opacity: 1 
}        



.st1{fill:none;stroke:#FF0000;stroke-width:3;}
.st2{fill:#FF0000;}
.st3{font-family:'Krungthep';}
.st4{font-size:50.6909px;}
.st5{font-size:84.4849px;}
     
